
    * {
        box-sizing: border-box;
    }

    body {
        background-color: white;
    }

    h1 {
       margin-bottom: 2%;
    text-align: center;
    color: black;
    font-size: 200%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    }

    section {
        position: relative;
        padding: 2%;
        width: 90%;
    }

    p {
        position: relative;
        
    }

    div {
        position: relative;
        background-color: #E6E6E6;
        border: 1px solid black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

    .p1 {
        background-color: #8F4CB0;
        float: right;
        width: 25%;
        padding: 2%;
        margin: auto;
        font-weight: bold;
        border: .5px solid black;
        text-align: center;
        color: white;
        font-family: -apple-system, system-ui, BlinkMacSystemFont;

    }

    .p2 {
        background-color: #35A2F3;
        float: right;
        width: 25%;
        padding: 2%;
        margin: auto;
        font-weight: bold;
        border: .5px solid black;
        text-align: center;
        color: white;
        font-family: -apple-system, system-ui, BlinkMacSystemFont;
        
    }

    .p3 {
        background-color: #4CB064;
        float: right;
        width: 25%;
        padding: 2%;
        margin: auto;
        font-weight: bold;
        border: .5px solid black;
        text-align: center;
        color: white;
        font-family: -apple-system, system-ui, BlinkMacSystemFont;

    }

    .content {
        
        background-color: #E6E6E6;
        font-family: -apple-system, system-ui, BlinkMacSystemFont;
        color: black;
        margin: 10%;
        padding: 2%;
        height: 100px;
        overflow: auto;
    }

    .row {
        width: 90%;
    }

    /*desktop version*/
    @media (min-width: 992px) {
        .column-lg-4 {
            float: left;
            width: 33.33%;
        }
    }

    /*tablet version*/
    @media (min-width: 768px) and (max-width: 991px) {
        .colmn-md-6 {
            float: left;
            width: 50%;
        }

        .colmn-md-12 {
            float: left;
            width: 100%;
        }
    }

    /*mobile version*/
    @media (max-width: 767px) {
        .colmn-sm-12 {
            float: left;
            width: 100%;
        }
    }